.login-container {
    display: flex;
    height: 100vh;
    background-color: #000;
    color: #fff;
    font-family: 'Segoe UI', sans-serif;
  }
  
  .login-left {
    flex: 1;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #000;
  }
  
  .login-left h1 {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.3;
    margin-top: 30px;
  }
  
  .login-left h1 span {
    color: green;
  }
  
  .phones-img {
    max-width: 100%;
    height: auto;
  }
  
  .login-right {
    flex: 1;
    background-color: #111;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .login-box {
    background-color: #1a1a1a;
    padding: 30px;
    border-radius: 8px;
    width: 100%;
    max-width: 350px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  }
  
  .login-box h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login-box form input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
  }
  
  .login-box form button {
    width: 100%;
    padding: 12px;
    background-color: #0057ff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .login-box form button:hover {
    background-color: #0041cc;
  }
  
  
  
  .signup-box {
    margin-top: 20px;
    text-align: center;
    font-size: 0.9rem;
  }
  
  .signup-box a {
    color: #00aaff;
    text-decoration: none;
  }
  
  footer {
   
    font-size: 0.8rem;
    color: #777;
  }
img{
  height: 400px;
  width: 400px;
}  

.blog-image{
  align-self: center;
  width: 400px;
  height: 400px;
  border-radius: 20px;
}
h1{
  text-align: center;
}
html {
  scroll-behavior: smooth;
}